@using Marvel.MarvelApi
@using Marvel.Models
@model Marvel.Models.Creator

@{
    ViewBag.Title = Model.fullName;
}


@section scripts{
    <script type="text/javascript">
        var creatorId = @Model.id;
        var offsetComics = 0;
        var titleStartsWithComics = "";
        var totalResultsComics = 0;

        function startFetchingComics() {
            $("#comicsLoading").css("visibility","visible");
            $("#loadMoreComics").click(false);
            $("#searchComics").attr('readonly', true);
            $('#searchComics').addClass('input-disabled');
        }

        function stopFetchingComics() {
            $("#comicsLoading").css("visibility", "hidden");
            $("#searchComics").attr('readonly', false);
            $('#searchComics').removeClass('input-disabled');
        }

        function refreshAndRebindComics() {
            stopFetchingComics();
            offsetComics = 4;
            titleStartsWithComics = $("#searchComics").val();
            totalResultsComics = $("#totalResultsComics").val();
            $("#loadMoreComics").click(function () {
                startFetchingComics();
                $.get("@(Url.Action("ComicsRowForCreator","Comics"))", { creatorId : creatorId, titleStartsWith: titleStartsWithComics, orderBy: "-focDate", limit: 4, offset: offsetComics }, function (data) {
                    $("#loadMoreComics").before(data);
                    offsetComics += 4;
                    stopFetchingComics();
                }, "html");
            });
        }

        $(document).ready(function () {
            $("#comicsResults").load("@Url.Action("ComicsForCreator","Comics")", {creatorId:creatorId, orderBy: "-focDate", limit: 4, offset: offsetComics }, refreshAndRebindComics);
        });


    </script>
}

<div class="row">
    <div class="col-xs-0 col-lg-1"></div>
    <div class="col-md-6 col-lg-5 left-col">
        <img src="@(Model.thumbnail.path + "/detail." + Model.thumbnail.extension)" alt="image" />
    </div>
    <div class="col-md-6 col-lg-5">
        <div class="jumbotron right-col">
            <h2>@(Model.fullName) </h2>
            <div>
                <h5> Worked on</h5>
                <ul>
                    @foreach (SeriesSummary serie in Model.series.items)
                    {
                        <li> @serie.name </li>  }
                    @if (Model.series.returned < Model.series.available)
                    {
                        <li> And More !</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-0 col-lg-1"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading search-heading">
        <div class="row panel-title">
            <div class="col-sm-8 col-search">
                <h3>Recent Comics</h3>
            </div>
            <div class="col-sm-4 pull-right col-search">
                <div class="row">
                    <div class="col-sm-3">
                        <img id="comicsLoading" src="~/Images/ajax-loader-search.gif" style="visibility:hidden;width:26px;margin:12px 0px;" />
                    </div>
                    <div class="col-sm-9">
                        @using (Ajax.BeginForm("SearchForCreator", "Comics", new { creatorId = Model.id }, new AjaxOptions { UpdateTargetId = "comicsResults", OnBegin = "startFetchingComics", OnComplete = "refreshAndRebindComics" }, new { @class = "navbar-form", role = "search" }))
                        {
                            string titleStartsWith = "";
                            <div class="input-group">
                                @Html.TextBoxFor(x => titleStartsWith, new { @class = "form-control", placeholder = "Search", name = "searchComics", id = "searchComics" })
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body container-fluid">
        <div id="comicsResults"></div>
    </div>
</div>